[submodule "amethyst"]
	path = amethyst
	url = git@github.com:jFransham/amethyst
[submodule "nphysics"]
	path = nphysics
	url = git@github.com:jFransham/nphysics
[submodule "tobj"]
	path = tobj
	url = git@github.com:jFransham/tobj
